<component name="ArtifactManager">
  <artifact type="war" name="springboot-data-Demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="oxchains-wallet-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-data-Demo:war exploded" />
    </root>
  </artifact>
</component>